.btn-add {
    padding: 15px 35px;
    background-color: #FEDB00;
    margin: 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

.btn-dropdown-menu {
    border: none;
    background: none;
    text-align: left;
    width: 100%;
}

.btn-dropdown-menu:hover {
    text-decoration: underline;
}

.btn-transparent {
    background: none;
    border: none;
}